



/*--------ontact form---------*/
.contact{
    text-align: center;
    width: 100%;
    height: 700px;
    display: block;
}


form{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.44), #1d1616), url(../img/SlideImg/example/3.jpg);
    margin-top: 100px;

}

form div{
    width: 35%;
}


form label{
    color: #fff;
    float: left;
}


form input,textarea{
    width: 95%;
}

.textarea{
    height: 150px;
    width: 100%;
}

form textarea{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


/*-------------end contact form-------------*/











@media only screen and (max-width: 2560px){

}

@media only screen and (max-width: 1440px){

}

@media only screen and (max-width: 1024px){    


}

@media only screen and (max-width: 768px)
{
    .textarea{
        height: 155px;
    }
    form input, textarea{
        font-size: 13px;
    }

    form div input{
        height: 25px;
    }
    form  div:first-child{
        margin-top: 5px;
    }

}

@media only screen and (max-width: 670px){

}

@media only screen and (max-width: 480px)
{
    form div{
        width: 49%;
    }
    .blue-btn{
        width: 70px;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 375px)
{
    form div{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 320px){
   
}




