.wrapper{
    background-image:  url(../img/SlideImg/example/regist.jpg);
    background-size: cover;
    color: #fff;
}


form{
    width: 100%;
    display: block;
    text-align: center;
    margin: 50px auto;

}

form div{
    padding: 30px;
    text-align: left;
    background: rgba(163, 161, 161, 0.22);
    border-radius: 15px;
}


form label{
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}

form input{
    width: 90%;
    height:30px;
}

.small-yelow-btn{
    text-align: center;
    width: 30%;
}

.main-logo{
    width: 80px;
    height: 80px;
    font-size: 80px;
    color: #67a74b;
    border: 0;
    background-color: #fff;
}






@media only screen and (max-width: 2560px){

}

@media only screen and (max-width: 1440px){

}

@media only screen and (max-width: 1024px){    


}

@media only screen and (max-width: 768px)
{
    form div{
        width: 80%;
    }
}

@media only screen and (max-width: 670px){

}

@media only screen and (max-width: 480px)
{
    .wrapper{
        top:-12px;
    }

}

@media only screen and (max-width: 375px)
{

}

@media only screen and (max-width: 320px){

.small-yelow-btn{
    text-align: center;
    width: 45%;
}
}

